@import "tailwindcss";

:root {
    @apply bg-blue-700/70
}

@layer base {
    .font-outline-1 {
        -webkit-text-stroke: 1px black;
    }
    .font-outline {
        -webkit-text-stroke: 0.5px black;
    }
}

@theme {
  --color-theme-border: color-mix(in oklab, var(--color-blue-900), 50%, transparant);
  --color-theme: var(--color-blue-500);
  --color-theme-light: var(--color-blue-300);
  --color-theme-button: var(--color-blue-400);
}